*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.container-numbers{
  background:  #425325;
  background-size: cover:
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;

}

.container-numbers img{
  margin: 5px;
}
.container-numbers-032{
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-left: 0.5%;
}
.container-header{
  display: flex;
  align-items: center;

}


.container-convert{
  padding-left: 2%;
  display: flex;
  agn-items: center;

}
.container-convert span{
  font-size: 20px;
  padding-left: 3%;
  color: #e5e4e3;
}

.container-soc{
  display: flex;
  agn-items:flex-end;
  justify-content: flex-end;
  margin-left: 35%;
  padding: 10px;

}


.container-phito{
  display: block;
  text-agn: center;
  color: #a8b183;
  font-weight: bolder;
  font-size: 12px;
}
.container-first-text{
  color: #425325;
  font-size: 25px;
}
.dashed-border{
  border: 2px dashed #425325;
  padding: 20px;
  border-radius: 16px;
}

.dashed-border-2 {
  border: 2px dashed #425325;
  border-radius: 16px;
  /* Добавьте другие стили по вашему усмотрению */
}
.container-miz{
  padding-top: 20px;
}
.container-first-text1{
  color: white;
  font-size: 25px;
}
.container-header{
  display: flex;
  agn-items: center;
  justify-content: center;
  padding-left: 2%;
}
.container-text-vashadze{
  padding-left: 10px;
}
.container-text-vashadze-1{
  padding-right: 10px;
}

li{
  padding: 5px;
  margin-left: 5;
  color: #425325;
  font-weight: bolder;
}
.bb {
  position: relative;
}

.container-vas{
  text-align: center;

}
.container-language{
  padding-left: 5%;
}
.container-language img{
  margin: 10px;
}
.container-h h1{
  text-align: center;
  padding-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #425325;
  width: 100%;

}
.line{
  border: 1px solid #dbaf6f;
  margin-left: 22%;
  margin-right: 22%;
  margin-bottom: 2%;

}
.btn-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  justify-content: flex-end;
  background-color: inherit!important;
  color: #425325!important;
  border-color: #425325!important;
  border-radius: 5px!important;
}
.container h2{
  color:  #425325!important;
  font-weight: bold!important;
}
.custom-block {
  display: flex;
  align-items: center;
  background-color: #435328;
  border-radius: 10px;
  padding: 20px;
  color: white;
  bottom: 10px;
}


.custom-block img {
  width: 400px;
}

.custom-block-text {
  flex-grow: 1;
  text-align: center;
}
.custom-block-text h2{
  color: white!important;
}

.custom-block-title h2 {
  font-size: 24px;
  font-weight: bold;
}


.custom-block-subtitle {
  font-size: 16px;
  font-style: italic;
}
.container-cure{
  width:75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;;
}

.custom-btn {
  background-color: #435328!important;
  color: white!important;
  border-radius: 18px!important;
  padding: 10px 20px!important;
  text-decoration: none!important;
  font-weight: bold!important;
  width: 70%!important;
  margin:  5%!important;
}
.custom-btn-2{
  text-align: center!important;
  width: 100%!important;
  background: red!important;
  border-radius: 3px!important;
  background-color: grey!important;
  border-color: black!important;
  margin:  5%!important;
  left: 0!important;
}
